div {
  display: inline-block;
  background-color: pink;
  height: 100px;
  width: 100px;
  font-size: 1px;
  padding: 1px;
  color: white;
  margin-right: 5px;
  margin-left: 5px;
  animation: my-roll 3s infinite;
  transform: rotate(30deg);
  opacity: 0.7;
}

@keyframes my-roll {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
